<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABELHAS: ADMINISTRADOR</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/abelhasadm.css">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        var socket = io(); // Inicializando o socket

        socket.on('update_data', function(data) {
            if (data.sensor === 'sensor_umidade') {
                const valueElement = document.getElementById('sensor_umidade');
                if (valueElement) {
                    valueElement.innerText = data.value + '%';
                }
            }
            if (data.sensor === 'sensor_temperatura_agua') {
                const valueElement = document.getElementById('sensor_temperatura_agua');
                if (valueElement) {
                    valueElement.innerText = data.value + '°C';
                }
            }
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>ABELHAS: ADMINISTRADOR</h1>
        <div class="left-column">
            <div class="split-box">
                <div class="box">
                    <div class="box-title">Cadastro Actuators</div>
                    <form action = "http://localhost:8080/add_actuator_abelhas" method = "post">
                        <p>Nome:</p>
                        <p><input type = "text" name = "name" placeholder="Nome do Atuador" required/></p>
                        <p>Unidade de Medida:</p>
                        <p><input type = "text" name = "unit" placeholder="Unidade de Media" required/></p>
                        <p>Tópico MQTT:</p>
                        <p><input type = "text" name = "topic" placeholder="Tópico MQTT" required/></p>
                        <div>
                            <input type="checkbox" id="is_active" name="is_active" checked />
                            <label for="is_active">Ativo?</label>
                          </div>
                        <p><input type = "submit" value = "Cadastrar" /></p>
                    </form>
                </div>
                <div class="box">
                    <div class="box-title">Cadastro Sensores</div>
                    <form action = "http://localhost:8080/add_sensor_abelhas" method = "post">
                        <p>Nome:</p>
                        <p><input type = "text" name = "name" placeholder="Nome do Sensor" required/></p>
                        <p>Unidade de Medida:</p>
                        <p><input type = "text" name = "unit" placeholder="Unidade de Media" required/></p>
                        <p>Tópico MQTT:</p>
                        <p><input type = "text" name = "topic" placeholder="Tópico MQTT" required/></p>
                        <div>
                            <input type="checkbox" id="is_active" name="is_active" checked />
                            <label for="is_active">Ativo?</label>
                          </div>
                        <p><input type = "submit" value = "Cadastrar" /></p>
                    </form>
                </div>
            </div>
            <div class="box sub-section">
                <div class="box-title">
                    Planejamento de Irrigação
                    <span class="arrow">↗</span>
                </div>
                <div class="botao_funcao">
                    <form action="/publish" method="POST">
                        <button type="submit" name="action" value="abelha">On / Off</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="right-column">
            <div class="box dark-box">
                <div class="box-title">Sensores e Dados</div>
                <hr style="border: 1px solid #D0CFCF; margin: 20px 0;">
                {% if sensors|length> 0 %}
                    <table>
                        <tbody>
                            {% for sensor in sensors %}
                            <tr>
                                <td>{{ sensor.name }}</td>
                                <td>{{ sensor.topic }}</td> 
                                <td>{{ sensor.unit }}</td>
                                {% if sensor.is_active == true %}
                                    <td>Ativo</td>
                                {% else %}
                                    <td>Desativado</td>
                                {% endif %}
                                <td><a href="http://localhost:8080/edit_sensor?id={{sensor.id}}">Editar</a></td>
                                <td><a href="http://localhost:8080/del_sensor?id={{sensor.id}}">Deletar</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="sub-section">
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <div class="box-title">Atuadores e Dados</div>
                        <hr style="border: 1px solid #D0CFCF; margin: 20px 0;">
                        <table>
                            <tbody>
                                {% for actuator in actuators %}
                                <tr>
                                    <td>{{ actuator.name }}</td>
                                    <td>{{ actuator.topic }}</td> 
                                    <td>{{ actuator.unit }}</td>
                                    {% if actuator.is_active == true %}
                                        <td>Ativo</td>
                                    {% else %}
                                        <td>Desativado</td>
                                    {% endif %}
                                    <td><a href="http://localhost:8080/edit_actuator?id={{actuator.id}}">Editar</a></td>
                                    <td><a href="http://localhost:8080/del_actuator?id={{actuator.id}}">Deletar</a></td>
                      
                                </tr>
                            {% endfor %}
                              </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>Ainda não tem sensores ou atuadores registrados!<p>
                {%endif%}
            </div>
        </div>
    </div>
</body>
</html>
