{% extends "baseadm.html" %}

{% block title %}ABELHAS: ADMINISTRADOR{% endblock %}

{% block extra_head %}
    <style>
        :root {
            --primary-color: #FFB300;
            --secondary-color: #FFA000;
            --background-color: #FFF8E1;
            --box-background: #ffffff;
            --text-color: #333333;
            --text-color-light: #ffffff;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        h1 {
            text-align: center;
            color: var(--primary-color);
            grid-column: 1 / -1;
            font-size: 2.5rem;
            margin-bottom: 30px;
        }
        .box {
            background-color: var(--box-background);
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .box-title {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 15px;
            color: var(--secondary-color);
        }
        .split-box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        .dark-box {
            background-color: var(--primary-color);
            color: var(--text-color);
        }
        .dark-box .box-title {
            color: var(--text-color);
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input, select, button {
            margin-bottom: 10px;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ddd;
        }
        button {
            background-color: var(--secondary-color);
            color: var(--text-color-light);
            border: none;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: var(--primary-color);
        }
        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 5px;
        }
        th, td {
            text-align: left;
            padding: 8px;
            background-color: var(--box-background);
        }
        .dark-box th {
            background-color: var(--primary-color);
            color: var(--text-color);
        }
        .dark-box tr:hover td {
            background-color: #f5f5f5;
        }
        hr {
            border: none;
            border-top: 1px solid rgba(0,0,0,0.2);
            margin: 20px 0;
        }
        @media (max-width: 768px) {
            .container, .split-box {
                grid-template-columns: 1fr;
            }
        }
    </style>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        var socket = io();
        socket.on('update_data', function(data) {
            if (data.sensor === 'sensor_umidade') {
                const valueElement = document.getElementById('sensor_umidade');
                if (valueElement) {
                    valueElement.innerText = data.value + '%';
                }
            }
            if (data.sensor === 'sensor_temperatura_agua') {
                const valueElement = document.getElementById('sensor_temperatura_agua');
                if (valueElement) {
                    valueElement.innerText = data.value + '°C';
                }
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>ABELHAS: ADMINISTRADOR</h1>
        
        <div class="split-box">
            <div class="box">
                <div class="box-title">Cadastro Actuators</div>
                <form action="http://localhost:8080/add_actuator_abelhas" method="post">
                    <input type="text" name="name" placeholder="Nome do Atuador" required/>
                    <input type="text" name="unit" placeholder="Unidade de Medida" required/>
                    <input type="text" name="topic" placeholder="Tópico MQTT" required/>
                    <div>
                        <input type="checkbox" id="is_active_actuator" name="is_active" checked />
                        <label for="is_active_actuator">Ativo?</label>
                    </div>
                    <button type="submit">Cadastrar</button>
                </form>
            </div>
            <div class="box">
                <div class="box-title">Cadastro Sensores</div>
                <form action="http://localhost:8080/add_sensor_abelhas" method="post">
                    <input type="text" name="name" placeholder="Nome do Sensor" required/>
                    <input type="text" name="unit" placeholder="Unidade de Medida" required/>
                    <input type="text" name="topic" placeholder="Tópico MQTT" required/>
                    <div>
                        <input type="checkbox" id="is_active_sensor" name="is_active" checked />
                        <label for="is_active_sensor">Ativo?</label>
                    </div>
                    <button type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
        <div class="box">
            <div class="box-title">Historico</div>
            <form action="/publish" method="POST">
                <button type="submit" name="action" value="abelha">On / Off</button>
            </form>
            <form action="http://localhost:8080/get_historico_abelhas" method="post">
                <select name="id" class="Input">
                    {% for sensor in sensors %}
                        <option>{{ sensor.id }}</option>
                    {% endfor %}
                </select>
                Início:
                <p><input type="datetime-local"  name="start" requires/></p>
                Fim:
                <p><input type="datetime-local"  name="end" requires/></p>
                <p><input type = "submit" value = "Carregar" /></p>
            </form>
            {% if historico_abelhas|length> 0 %}
                        <table id="view_read" class="table table-striped table-bordered" style="width:100%">
                            <p>Sensores:</p>
                            <thead>
                                <tr>
                                    <th>Sensor</th>
                                    <th>Valor</th>
                                    <th>Horário</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for historico_abelhas in historico_abelhas %}
                                    <tr>
                                        <td>{{ historico_abelhas.sensor_abelhas_id }}</td>
                                        <td>{{ historico_abelhas.value }}</td>
                                        <td>{{ historico_abelhas.data }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
            {% endif %} 
        </div>
        <div class="box dark-box">
            <div class="box-title">Sensores e Dados</div>
            <hr>
            {% if sensors|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Sensor</th>
                            <th>Tópico</th>
                            <th>Unidade</th>
                            <th>Status</th>
                            {% if historico_abelhas|length> 0 %}
                            <th>Valor</th>
                            {% endif %}
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sensor in sensors %}
                        <tr>
                            <td>{{ sensor.name }}</td>
                            <td>{{ sensor.unit }}</td>
                            <td>{{ sensor.topic }}</td> 
                            <td>{% if sensor.is_active %}Ativo{% else %}Desativado{% endif %}</td>
                            {% if historico_abelhas|length> 0 %}
                            <td>{{ last_values[sensor.id] }}</td>
                            {% endif %}
                            <td>
                                <a href="http://localhost:8080/edit_sensor_abelhas?id={{sensor.id}}">Editar</a>
                                <a href="http://localhost:8080/del_sensor_abelhas?id={{sensor.id}}">Deletar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Ainda não tem sensores registrados!</p>
            {% endif %}
            <div class="box-title">Atuadores e Dados</div>
            <hr>
            {% if actuators|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Atuador</th>
                            <th>Tópico</th>
                            <th>Unidade</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for actuator in actuators %}
                        <tr>
                            <td>{{ actuator.name }}</td>
                            <td>{{ actuator.unit }}</td>
                            <td>{{ actuator.topic }}</td> 
                            <td>{% if actuator.is_active %}Ativo{% else %}Desativado{% endif %}</td>
                            <td>
                                <a href="http://localhost:8080/edit_actuator_abelhas?id={{actuator.id}}">Editar</a>
                                <a href="http://localhost:8080/del_actuator_abelhas?id={{actuator.id}}">Deletar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Ainda não tem atuadores registrados!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}